@import "grid.css";
* {
    box-sizing: border-box;
}
.block1 {
    background-color: red;
}

.block2 {
    background-color: blue;
}

.block2,
.block1 {
    float: left;
    width: 50%;
}

.product{
    position: relative;
}

.new {
    position: absolute;
    right: 0;
    top: -50px;
    height: 100px;
    background-color: red;
}

img {
    width: 100px;
    float: left;
    margin:0 10px 10px 0 ;
}